.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 500px;
}
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
display: flex;
align-items: center;
flex-direction: column;
gap: 0;
}
.button {
    display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 0;
border-radius: 4px;
padding: 16px 32px;
max-width: 169px;
border: none;
}
.hero-content {
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 48px;
padding: 0 15px;
}