
.team {
    background-color: #f4f4fd;
    display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 0;
padding: 120px 0;
}
.team-title {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42; 
        margin-bottom: 72px;
}
.team-member-name {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.team-member-position {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.team-member {
    background-color: #ffffff;
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 0;
border-radius: 0 0 4px 4px;
width: 264px;
}
.team-list {
   display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 24px;
}
.team-member-info {
 display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 8px;
padding: 32px 16px; }
